<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <!-- find me in node_modules/midden/dist/styles -->
    <link rel="stylesheet" href="/midden.css">
  </head>
  <body>
    <nav>
      <a href="/news-1.html">News</a>
    </nav>
    <h1>{{title}}</h1>
      {% body %}

    {{!-- {{midden "view.data"}} --}}
    <p><i>Experimenting with collections here.</i></p>
    <p>Year is {{year}}</p>
    {{#newsitems}}
      {{#each (sortBy items "data.published") as |item|}}
        <br>{{item.data.title}} - {{year}}
      {{/each}}
    {{/newsitems}}

    <!-- find me in node_modules/midden/dist/js -->
    <script src="/midden-client.js"></script>
  </body>
</html>
